/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-abr-2017, 17:36:23
    Author     : omarl
*/

body{
    margin: 0;
    background: #FAFAFA;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background-color: #BF1010;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    width: 20%;
    float: left;
    padding: 10px 0;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;

    position: relative;
}

nav a{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover{
    color: #000;

}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms; 
}

nav a:hover::before{
    width: 0%;
}

/*FORM*/

.login-form{
    background-color: #ccc;
    width: 15%;
    height: 350px;
    margin: auto;
    margin-top: 5%;

    position: relative;

    box-shadow: 5px 5px 2px #888888;
}

.login-form h2{
    background-color: #D5222C;
    text-align: center;
    height: 50px;
    padding: 2%;
    color: #FFF;
}

.login-form input, label{
    margin: 0 auto;
    margin-top: 2%;
    display: block;
    width: 80%;
    height: 30px;
}

.login-form input[type="submit"]{
    width: 80%;
    height: 50px;
    margin-top: 10%;
    background-color: #FA5858;
    color: #FFF;
    font-size: 32px;
    font-family: 'Work Sans', sans-serif;
    cursor: pointer;

}

.login-form input[type="submit"]:hover{
    background-color: #FE2E2E;
}

/*FORM PIZZAS*/

.search-form, .container-list{
    margin: auto;
    width: 15%;
    height: 50px;
    position: relative;
    top: 20px;
}

.search-form input[type="submit"], .container-pizzas input[type="submit"], .container-register input[type="submit"]{
    width: 100%;
    height: 50px;
    background-color: #FA5858;
    color: #FFF;
    font-size: 32px;
    font-family: 'Work Sans', sans-serif;
    cursor: pointer;
}

.login-form input[type="submit"]:hover, .container-pizzas input[type="submit"]:hover, .container-register input[type="submit"]:hover{
    background-color: #FE2E2E;
}

/*LIST PIZZAS*/

.container-list{
    border-bottom: 2px solid black;
    width: 20%;
}

.container-pizzas{
    border: 2px solid #000;
    border-radius: 5px 5px 0 0;
    margin: 2%;
    background-color: #FFF;
}

.container-pizzas h2{
    background-color: #D5222C;
    text-align: center;
    height: 50px;
    margin: 0 auto;
}

.container-pizzas p{
    color: #BF1010;
    font-weight: bold;
}

/*INSERT PIZZAS*/

.container-register{
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 5%;
    width: 50%;
}

.container-register h1{
    background-color: #D5222C;
    text-align: center;
    height: 50px;
    margin: 0 auto;
}

.container-register label{
    display: block;
    left: auto;
    border-bottom: 2px solid #000;
}

